<table>
   <thead>
      <tr>
      <th>Title</th>
      <th>Start_Date</th>
      <th>Due_date</th>
      <th>is_completed</th>
      <th>priority</th>
      <th>team_id</th>
      <th>Action</th>
      </tr>
   </thead>
     <% @tasks.each do |task| %>
        <tr>
        <td><%= task.title %></td>
        <td><%= task.start_date %></td>
        <td><%= task.due_date %></td>
        <td><%= task.is_completed %></td>
        <td><%= task.priority %></td>
        <td><%= task.team_id %></td>
        <td><%= link_to "Show", task_path(task.id)%></td>
        </tr>
        <% end %>
        <tbody>
        </tbody>
        </table>